<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ユーザ登録</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
<form action="/schedule/login/save" method="post">
	<div>
		<span>user</span>
		<input type="text" name="name"/>
	</div>
	<div>
		<span>password</span>
		<input type="text" name="password"/>
	</div>
	<div>
		<input type="submit" value="登録"/>
	</div>
</form>
</body>
</html>