<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ユーザ登録</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
<div class="mainContents">
	<form th:action="/schedule/login/save" method="post">
		<div>
			<label for="name">name</label>
			<input type="text" name="name"/>
		</div>
		<div>
			<label for="password">password</label>
			<input type="password" name="password"/>
		</div>
		<div>
			<input type="submit" value="登録"/>
		</div>
	</form>
</div>
</body>
</html>