<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>やることリスト</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link type="text/css" rel="stylesheet"
	href="/schedule/css/materialize.min.css" media="screen,projection" />
<script src="/schedule/js/jquery-3.1.0.min.js"></script>
<script src="/schedule/js/materialize.min.js"></script>
<script src="/schedule/js/common.js"></script>
<script src="/schedule/js/todo.js"></script>
</head>
<body class="loaded">
	<div class="container">
<!-- 
		<div th:text="${loginUser.name}"></div>
 -->	
		<!-- 検索用フォーム -->
		<form action="/schedule/todo/find" method="get"
			th:object="${todoFind}">
			<div class="row">
				<div class="col s4 input-field">
					<i class="samll material-icons">label</i> <label for="name">予定</label>
					<input type="text" name="name" th:field="*{name}" />
				</div>
				<div class="col s4 input-field">
					<i class="samll material-icons">my_location</i> <label for="place">場所</label>
					<input type="text" name="place" th:field="*{place}" />
				</div>
				<div class="col s4 input-field">
					<i class="samll material-icons">spellcheck</i> <select
						name="status">
						<option th:each="statusItem: ${statusItems}"
							th:text="${statusItem.key}" th:value="${statusItem.value}"
							th:selected="${statusItem.value} == *{status}" />
					</select> <label for="status">ステータス</label>
				</div>
				<div class="col s6 input-field">
					<i class="samll material-icons">schedule</i> <label
						for="planDateFrom">予定日From</label> <input type="date"
						name="planDateFrom" th:field="*{planDateFrom}" class="datepicker" />
				</div>
				<div class="col s6 input-field">
					<i class="samll material-icons">schedule</i> <label
						for="planDateTo">予定日To</label> <input type="date"
						name="planDateTo" th:field="*{planDateTo}" class="datepicker" />
				</div>
				<div class="col s6 input-field">
					<i class="samll material-icons">done_all</i><label
						for="finishDateFrom">終了日From</label> <input type="date"
						name="finishDateFrom" th:field="*{finishDateFrom}"
						class="datepicker" />
				</div>
				<div class="col s6 input-field">
					<i class="samll material-icons">done_all</i><label
						for="finishDateTo">終了日To</label> <input type="date"
						name="finishDateTo" th:field="*{finishDateTo}" class="datepicker" />
				</div>
				<div class="col s4 input-field">
					<i class="samll material-icons">mode_edit</i>
					<label for="memo">memo</label>
					<input type="text" name="memo" th:field="*{memo}" />
				</div>
				<div class="col s6 input-field">
					<button type="submit" 
						class="waves-effect waves-light btn" >search</button>
				</div>
			</div>
		</form>

		<!-- 登録フォーム表示 -->
		<a class="modal-trigger waves-effect waves-light btn"
			href="#todoEntry">create</a>

		<!-- やることリスト -->
		<!-- やること登録と編集-->
		<ul>
			<li th:each="todo : ${todoList}" th:attr='data-id=${todo.id}' class="todo-card">
				<div class="row">
					<div class="col s12 m6">
						<div class="card indigo lighten-5">
							<div class="card-content">
								<div>
									<span class="card-title" th:text="${todo.name} ?: '未設定'"></span>
								</div>
								<div>
									<span th:text="${todo.place}"></span>
								</div>
								<div>
									<span th:text="${todo.planDate} ?: '未設定'"></span>
								</div>
								<div>
									<span th:text="${todo.finishDate} ?: '未設定'"></span>
								</div>
								<div>
									<span th:text="${todo.status} ?: '未設定'"></span>
								</div>
								<div>
									<span th:text="${todo.memo} ?: '未設定'"></span>
								</div>
								<div>
									<span th:text="${todo.createUserId}"></span>
								</div>
								<form action="/schedule/todo/delete" th:method="delete">
									<a class="waves-effect waves-light btn delete-modal-trigger" th:attr="data-id=${todo.id}"
										href="#deleteConfirm">delete</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>

		<!-- 削除確認用モーダル -->
		<div id="deleteConfirm" class="modal">
			<div class="modal-content">Are you sure?</div>
			<div class="modal-footer">
				<input type="hidden" value="" id="deleteId" />
				<input type="button" class=" modal-action modal-close waves-effect waves-green btn-flat" id="deleteCancel" value="cancel" />
				<input type="button" class=" modal-action modal-close waves-effect waves-green btn-flat" id="todoDelete" value="delete" />
			</div>
		</div>

		<!-- 入力モーダル -->
		<div id="todoEntry" class="modal modal-fixed-footer">
			<form action="/schedule/todo/save" method="post" th:object="${todoEntry}">
				<div class="modal-content">
					<h4>予定登録</h4>
					<div class="input-field">
						<i class="samll material-icons">label</i>
						<label for="name">予定</label>
						<input type="text" name="name" th:field="*{name}" data-error=".errorTxt1"/>
						<div class="errorTxt1"></div>
					</div>
					<div class="input-field">
						<i class="samll material-icons">my_location</i>
						<label for="place">場所</label>
						<input type="text" name="place" th:field="*{place}" data-error=".errorTxt2" />
						<div class="errorTxt2"></div>
					</div>
					<div class="input-field">
						<i class="samll material-icons">schedule</i>
						<label for="planDate">予定日</label>
						<input type="date" name="planDate" th:field="*{planDate}" class="datepicker" />
					</div>
					<div class="input-field">
						<i class="samll material-icons">done_all</i>
						<label for="finishDate">終了日</label>
						<input type="date" name="finishDate" th:field="*{finishDate}" class="datepicker" />
						<div class="errorTxt4"></div>
					</div>
					<div class="input-field">
						<i class="samll material-icons">spellcheck</i>
						<select name="status">
							<option th:each="statusItem: ${statusItems}" th:text="${statusItem.key}" th:value="${statusItem.value}" th:selected="${statusItem.value} == *{status}" />
						</select>
						<label for="status">ステータス</label>
					</div>
					<div class="input-field">
						<i class="samll material-icons">mode_edit</i>
						<label for="memo">memo</label>
						<input type="text" name="memo" th:field="*{memo}" data-error=".errorTxt3"/>
						<div class="errorTxt3"></div>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class=" modal-action modal-close waves-effect waves-green btn-flat" id="entryCancel" value="cancel" />
					<input type="submit" value="create"
						class="modal-action modal-close waves-effect waves-green btn-flat" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>