<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>TOP</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link type="text/css" rel="stylesheet" href="/schedule/css/materialize.min.css"  media="screen,projection"/>
<script src="/schedule/js/jquery-3.1.0.min.js" ></script>
<script src="/schedule/js/materialize.min.js" ></script>
</head>
<body>
	<a href="/schedule/todo/list" >やること一覧</a>
</body>
</html>